@using CemSys3.DTOs.Paginacion
@using CemSys3.ViewModels.EmpresaSepelio
@model EmpresaSepelioVM

@{
    ViewData["Title"] = "Administrar Empresas";
}

<h1 class="title-page">Administrar empresas</h1>

<!--Formulario de registro-->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                @(Model.EsEdicion ? "Modificar empresa" : "Nueva empresa")
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                <form asp-action="Guardar" method="post" class="form-box">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-columns-container3">
                        <div>
                            <label class="form-label" for="nombre">Nombre</label>
                            <input class="form-control" type="text" asp-for="Nombre" required maxlength="50" id="nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-button-registrar">
                        <input class="btn @Model.ClaseBoton" type="submit" value="@Model.TextoBoton" />
                    </div>
                </form>
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Empresas registradas
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            @if (Model.ListadoEmpresas.Any())
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var opc in Model.ListadoEmpresas)
                                {
                                    <tr>
                                        <td>@opc.Nombre.ToUpper()</td>
                                        <td>
                                            <form asp-action="Editar" asp-controller="EmpresaSepelio" method="get" style="display: inline-block;">

                                                <input type="hidden" asp-for="Id" value="@opc.Id" name="id" />

                                                <button type="submit" class="btn btn-warning btn-sm btn-lista" title="Editar">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                            </form>
                                            <form asp-action="Eliminar" asp-controller="EmpresaSepelio" method="get" style="display: inline-block;" id="formularioEliminar"
                                                  onsubmit="return confirmarEliminacion(this, '¿Esta seguro de eliminar a la empresa @opc.Nombre?')">
                                                <input type="hidden" asp-for="Id" name="id" value="@opc.Id" />

                                                <button type="submit" class="btn btn-danger btn-sm btn-lista" title="Eliminar">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-info mt-3" role="alert">
                    <i class="bi bi-info-circle me-2"></i> No se encontraron registros de empresas.
                </div>
            }
            @* Fin cuerpo del acordeon *@

            @* Paginador *@
            @if (Model.Paginacion.TotalPaginas > 0)
            {
                @await Html.PartialAsync("_Paginador", new PaginacionDTO
                {
                    PaginaActual = Model.Paginacion.PaginaActual,
                    TotalPaginas = Model.Paginacion.TotalPaginas,
                    TotalRegistros = Model.Paginacion.TotalRegistros,
                    Accion = "index",
                    Controlador = "EmpresaSepelio"
                    })
                }
        </div>
    </div>
</div>

@* Renderizamos el manejador pasándole el DTO del modelo *@
<partial name="_SweetAlertHandler" model="Model.SweetAlert" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


